
.Pikachu{
padding: 24px 8px 0px;
position: relative;
width: 360px;
height: 640px;
color: #F9CF30;
background: #F9CF30;
border: 1px solid #F9CF30;
border-radius: 12px;
background-image: url(../components/img/Pokeball.svg);
background-repeat: no-repeat;
background-position-x: 158px;
background-position-y: 8px;
background-size: 208px 208px

}
.Charmander{
padding: 24px 8px 0px;
position: relative;
width: 360px;
height: 640px;
color: #F57D31;
background: #F57D31;
border: 1px solid #F57D31;
border-radius: 12px;
background-image: url(../components/img/Pokeball.svg);
background-repeat: no-repeat;
background-position-x: 158px;
background-position-y: 8px;
background-size: 208px 208px;
}
.Bulbasaur{
padding: 24px 8px 0px;
position: relative;
width: 360px;
height: 640px;
color: #74CB48;
background: #74CB48;
border: 1px solid #74CB48;
border-radius: 12px;
background-image: url(../components/img/Pokeball.svg);
background-repeat: no-repeat;
background-position-x: 158px;
background-position-y: 8px;
background-size: 208px 208px;
}
.Butterfree{
padding: 24px 8px 0px;
position: relative;
width: 360px;
height: 640px;
color: #A7B723;
background: #A7B723;
border: 1px solid #A7B723;
border-radius: 12px;
background-image: url(../components/img/Pokeball.svg);
background-repeat: no-repeat;
background-position-x: 158px;
background-position-y: 8px;
background-size: 208px 208px;
}
.Ditto{
padding: 24px 8px 0px;
position: relative;
width: 360px;
height: 640px;
color: #AAA67F;
background: #AAA67F;
border: 1px solid #AAA67F;
border-radius: 12px;
background-image: url(../components/img/Pokeball.svg);
background-repeat: no-repeat;
background-position-x: 158px;
background-position-y: 8px;
background-size: 208px 208px;
}
.Aron{
padding: 24px 8px 0px;
position: relative;
width: 360px;
height: 640px;
color: #B7B9D0;
background: #B7B9D0;
border: 1px solid #B7B9D0;
border-radius: 12px;
background-image: url(../components/img/Pokeball.svg);
background-repeat: no-repeat;
background-position-x: 158px;
background-position-y: 8px;
background-size: 208px 208px;
}
.Mew{
padding: 24px 8px 0px;
position: relative;
width: 360px;
height: 640px;
color: #FB5584;
background: #FB5584;
border: 1px solid #FB5584;
border-radius: 12px;
background-image: url(../components/img/Pokeball.svg);
background-repeat: no-repeat;
background-position-x: 158px;
background-position-y: 8px;
background-size: 208px 208px;
}
.Squirtle{
padding: 24px 8px 0px;
position: relative;
width: 360px;
height: 640px;
color: #6493EB;
background: #6493EB;
border: 1px solid #6493EB;
border-radius: 12px;
background-image: url(../components/img/Pokeball.svg);
background-repeat: no-repeat;
background-position-x: 158px;
background-position-y: 8px;
background-size: 208px 208px;
}
.Gastly{
padding: 24px 8px 0px;
position: relative;
width: 360px;
height: 640px;
color: #70559B;
background: #70559B;
border: 1px solid #70559B;
border-radius: 12px;
background-image: url(../components/img/Pokeball.svg);
background-repeat: no-repeat;
background-position-x: 158px;
background-position-y: 8px;
background-size: 208px 208px;
}
.Cardnav{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px 0px;
    position: static;
    width: 312px;
    height: 32px;
    left: 16px;
    top: 24px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 8px 16px;
}

.Home{   
    grid-area: home;
width: 24px;
height: 32px;
flex: none;
order: 0;
flex-grow: 0;
left: calc(50% - 17.5px/2 - 0px);
top: calc(50% - 17.3px/2 + 0px);
opacity: calc(100);
}

.Name{
    font-family: Poppins;
    position: static;
    width: 236px;
    height: 32px;
    left: 48px;
    top: 0px;
    font-style:normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    display: flex;
    align-items: center;
    color: white;
    flex: none;
    order: 1;
    flex-grow: 1;
    margin: 0px 0px;
    padding-left: 19.25px;
}

.Number{
    display: flex;
flex-direction: row;
align-items: flex-start;
padding: 8px 0px;
position: static;
font-size:  12px;
font-style: normal;
font-weight: 700;
width: 20px;
height: 32px;
left: 300px;
top: 0px;
border-radius: 8px;
flex: none;
order: 2;
flex-grow: 0;
margin: 0px 20px;;
padding-left: 8px;
color:white
}

.Image{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
position: absolute;
width: 200px;
height: 200px;
left: 80px;
top: 80px;
z-index: 1000;


}

.Stats{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 56px 20px 0px;
gap: 16px;

width: 327px;
height: 378px;
left: 4px;
top: 224px;
background: #FFFFFF;
border-radius: 8px;
z-index: 0;
position:absolute;
}

.Tipos{
    display: flex;
    color: white;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 16px;
width: 312px;
height: 20px;
flex: none;
order: 0;
align-self: center;
flex-grow: 0;
list-style: none;
margin-top: 0px;
margin-left: 31.5px;
margin-bottom: 0px;

}

.About{
font-family: Poppins;
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
width: 312px;
height: 16px;
text-align: center;
margin-top: 0px;
}

.Description{
width: 312px;
height: 32px;
font-family: Poppins;
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 16px;
display: flex;
align-items: center;
text-align: justify;
color: #212121;
flex: none;
align-self: stretch;
margin: 0px;
margin-left: 8px;


}

.BaseStats{
font-family: Poppins;
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
width: 312px;
height: 16px;
text-align: center;
margin-top: 0px;
}
.Table1{
    display: grid;
    grid-template-rows: 36px 12px;
    grid-template-columns: 67px 67px 67px;
    grid-area: 
    "peso altura abilidades",
    "peso1 altura1 abilidades1"
    ;
    width: 252px;
    height: 48px;
    column-gap: 24px;
    margin-left: 38px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    
}
.Ab11{
    font-size: 10px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: justify;
    color: #212121;
    padding-left: 18px;
    padding-right: 10px;
    border-right:1px solid #E0E0E0;
    margin-bottom: 0px;
    padding-bottom: 10px;
}
.Ab12{
    font-size: 10px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: justify;
    color: #212121;
    
}
.Ab13{
    height: 12px;
    display: flex;
    margin: 0px;
    align-items: center;
    text-align: justify;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 12px;
    color: #666666;
    padding-left: 15px;
    border-right:1px solid #E0E0E0;


}
#peso{
background-image: url(../components/img/Weight.svg);
background-repeat: no-repeat;
background-position-x: 0px;
}
#altura{
background-image: url(../components/img/Height.svg);
background-repeat: no-repeat;
}
.Table2{
    padding: 0px;
    width: 312px;
    height: 100px;
    margin-left: 8px;
    display: grid;
    grid-template-columns: 40px 24px 231px;
    grid-template-rows: 16px 16px 16px 16px 16px 16px;
    grid-column-gap: 8px ;
    grid-template-areas: 
    "b1 b2 b3",
    "b4 b5 b6",
    "b7 b8 b9",
    "b10 b11 b10",
    "b13 b14 b15",
    "b16 b17 b18";
}

.BS1{
    font-family: Poppins;
font-style: normal;
font-weight: 700;
font-size: 10px;
line-height: 16px;
flex: none;
order: 0;
align-self: stretch;
margin: 0px;
text-align: right;
padding-right: 11px;
border-right:1px solid #212121;

}

.BS2{
font-family: Poppins;
width: 20px;
height: 16px;
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 16px;
color: #212121;
margin: 0px;
padding-left: 4px;
text-align: right;


}
#Ab14{
    border-right:1px solid white;
}

#null{
    background-color: white;

}

.T1{
    background-color: #000000;
    flex-direction: column;
    align-items: flex-start;
    padding: 2px 2px 0px 2px;
    width: 46px;
    height: 20px;
    border-radius: 10px;
    flex: none;
    order: 0;
    flex-grow: 0;
    font-family: Poppins;
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 16px;
    display: flex;
    align-items: center;
    order: 0;
    flex-grow: 0;
    margin-left: 75px;
    }
    
    .T2{
        background-color: #000000;
        flex-direction: column;
    align-items: flex-start;
    padding: 2px 2px 0px 2px;
    width: 46px;
    height: 20px;
    border-radius: 10px;
    flex: none;
    order: 0;
    flex-grow: 0;
    display: flex;
    align-items: center;
    order: 0;
    flex-grow: 0;
    font-family: Poppins;
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 16px;
    }

#Rock{
    background-color: #B69E31;
    ;
    }

#Poison{
    background-color: #A43E9E;

}
#Flying{
    background-color: #A891EC;
    ;
}

#pika{
    background-color: #F9CF30;
}
#gast{
    background-color: #70559B;
}
#mew{
    background-color: #FB5584;
}
#aron{
    background-color: #B7B9D0;
    ;
}
#squi{
    background-color: #6493EB;
}
#bulb{
    background-color: #74CB48;
}
#char{
    background-color: #F57D31;
}
#butt{
    background-color: #A7B723;
}
#ditto{
    background-color: #AAA67F;
}