.Pokemonlist{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: repeat(3, 1fr);
    padding: 24px 16px 0px;
   
    
    position: relative;
    width: 360px;
    height: 640px;
     background: #F7F7F7;
    border: 1px solid #000000;
    border-radius: 12px;
 
}

