.Appnav{
    display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px 8px;
position: static;
width: 328px;
height: 32px;
left: 16px;
top: 24px;
flex: none;
order: 0;
flex-grow: 0;
margin: 8px 0px;
}



.Logo1{
    position: static;
width: 24px;
height: 32px;
left: 8px;
top: 0px;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 0px 16px;
}

.Logo{
    width: 24px;
    height: 24px;
    left: 0px;
    top: 4px;
}

.Title{
  position: static;
width: 236px;
height: 32px;
left: 48px;
top: 0px;
/* Hay que descargar la fuente */
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 32px;
display: flex;
align-items: center;
color: #212121;
flex: none;
order: 1;
flex-grow: 1;
margin: 0px 16px;
}

.Sort{
    display: flex;
flex-direction: row;
align-items: flex-start;
padding: 8px 0px;
position: static;
width: 20px;
height: 32px;
left: 300px;
top: 0px;
border-radius: 8px;
flex: none;
order: 2;
flex-grow: 0;
margin: 0px 16px;
}

.button1{
    position: static;
width: 9px;
height: 16px;
left: 0px;
top: 8px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 10px;
line-height: 12px;

/* or 120% */
display: flex;
align-items: center;
text-align: center;

/* Dark Gray */
color: #212121;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 0px 2px;
}
.sort1{
    
position: static;
width: 9px;
height: 16px;
left: 11px;
top: 8px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
margin: 0px 2px;
}

button{
    border-style: none;
    background: none;
    border: 0;
    color: inherit;
}